body,
.page {
  background: #f7f7f7;
}
.bar.bar-nav {
  background: #ffffff;
  border-bottom-color: #d8d8d8;
}
.title {
  color: #000;
  font-size: .85rem;
}
.list-block ul {
  border: none;
}
.list-block .item-after {
  max-height: none;
}
.list-block .item-content {
  min-height: 2rem;
  line-height: 1;
}
.list-block .item-inner {
  padding-right: 0;
  min-height: 2rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  line-height: 1rem;
  border-bottom-color: #f5f5f5;
}
p {
  margin: 0;
}
ul,
menu,
dir {
  -webkit-padding-start: 0;
}
.J_container {
  background: #ffffff;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-bottom: 0.75rem;
}
.J_container.padding_bottom_0 {
  padding-bottom: 0;
}
.J_container .no_vertical_padding {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}
.J_container_title {
  font-size: .7rem;
  color: #3d3d3d;
  padding-top: .51rem;
}
.J_container_title_more {
  color: #999999;
}
a.item-inner {
  color: #3d3d3d;
}
.icon_img {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: .75rem;
  vertical-align: middle;
}
.icon_arr {
  width: .3rem;
  height: .5rem;
  margin-left: .5rem;
}
.icon_lable {
  width: 3rem;
  height: 1rem;
}
.icon_next {
  width: .36rem;
  height: .6rem;
}
.icon_list {
  width: 1.25rem;
  height: 1.25rem;
}
.J_list {
  margin-top: .75rem;
  margin-bottom: 0;
  font-size: .7rem;
}
.to_copy_btn {
  color: #48CFAD;
  margin-left: 1rem;
}
.item-after_img {
  width: 4.8rem;
  height: 4.8rem;
}
.search-input input {
  background: #eeeeee;
  border-radius: .1rem;
}
.search-input input::-webkit-input-placeholder {
  color: #bcbcbc;
  opacity: 1;
  font-size: .7rem;
}
.search-input .icon {
  color: #bcbcbc;
  font-size: .7rem;
}
.select_box_ul {
  width: 13.8rem;
  background: #ffffff;
  line-height: 2.2rem;
  border-radius: .25rem;
  position: absolute;
  left: 50%;
  top: calc(48.75%);
  transform: translate(calc(-48.75%), -50%);
  overflow: hidden;
}
.select_box_ul label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.2rem;
  line-height: 2.2rem;
  padding: 0 .75rem 0 1.25rem;
  background: #f7f7f7;
  cursor: pointer;
}
.select_box_ul label > div {
  flex: 0 1 auto;
}
.select_box_ul .value_title {
  color: #3d3d3d;
}
.select_box_ul input[type=radio] {
  display: none;
}
.select_box_ul input[type=radio]:checked + label {
  background: #ffffff;
}
.select_box_ul input[type=radio]:checked + label .value_title {
  color: #3d3d3d;
}
.select_box_ul input[type=radio]:checked + label .value_title + .value_img img {
  display: inline-block;
  vertical-align: middle;
}
.select_box_ul img {
  display: none;
  height: .7rem;
}
.bar-tab .tab-item {
  line-height: 0;
  width: 33.3%;
  border: none;
  outline: none;
  background: none;
  float: left;
}
.bar-tab .tab-item .tab_img {
  display: block;
  text-align: center;
}
.bar-tab .tab-item .tab_img img {
  width: 2.1rem;
  height: 1.5rem;
  vertical-align: middle;
}
.bar-tab .tab-item .tab-label {
  display: inline-block;
  font-size: 10px;
  color: #a4a4a4;
  line-height: .7rem;
}
.bar-tab .tab-item.active .tab-label {
  color: #333;
}
.bar-tab {
  background: #ffffff;
}
.bar .button-nav.pull-left {
  width: 6rem;
  text-align: left;
  padding-left: .25rem;
}
.bar .button-nav.pull-left img {
  width: .45rem;
  vertical-align: middle;
  height: .75rem;
}
.cant-click {
  pointer-events: none;
  color: #999999 !important;
}
.icon_down {
  width: 0;
  height: 0;
  display: inline-block;
  border-left: .2rem solid transparent;
  border-right: .2rem solid transparent;
  border-bottom: .2rem solid transparent;
  border-top: 0.2rem solid #48CFAD;
  vertical-align: middle;
}
.icon_down.inactive {
  border-top: 0.2rem solid #7E7E7E;
}
.il_filter {
  font-size: 0;
  position: relative;
  z-index: 2001;
  text-align: right;
}
.il_filter_box {
  margin-right: -0.125rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 2;
  background: #ffffff;
}
.il_filter_item {
  display: inline-block;
  font-size: .65rem;
  color: #7e7e7e;
  line-height: .9rem;
  padding: .75rem .625rem .75rem .625rem;
  position: relative;
}
.il_filter_item .icon_down {
  margin-left: .35rem;
}
.il_filter .check_box_ul {
  z-index: 2;
  text-align: left;
  position: absolute;
  top: 2.4rem;
  background: #f7f7f7;
  display: none;
}
.filter_mask {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  bottom: 0;
  top: 4.2rem;
  display: none;
  z-index: 1;
}
.check_box_ul {
  width: 100%;
  font-size: .65rem;
  line-height: .9rem;
}
.check_box_ul label {
  padding: .55rem .75rem .55rem .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.check_box_ul label > div {
  flex: 0 1 auto;
}
.check_box_ul .value_title {
  color: #999999;
}
.check_box_ul img {
  display: none;
  height: .7rem;
}
.check_box_ul input[type=radio] {
  display: none;
}
.check_box_ul input[type=radio]:checked + label {
  background: #ffffff;
  touch-action: none;
}
.check_box_ul input[type=radio]:checked + label .value_title {
  color: #3d3d3d;
}
.check_box_ul input[type=radio]:checked + label .value_title + .value_img > img {
  display: inline-block;
  vertical-align: middle;
}
.il_list {
  margin: 0 .75rem;
}
.il_list ul {
  background: transparent;
}
.il_list ul li:not(:last-child) {
  margin-bottom: .75rem;
}
.il_list.list-block.media-list .item-media {
  padding-top: .5rem;
  position: relative;
}
.il_list.list-block.media-list .item-media .state {
  position: absolute;
  left: -0.75rem;
  top: .75rem;
}
.il_list.list-block.media-list .item-media .state img {
  display: block;
  width: 3rem;
  height: 1rem;
  margin-bottom: .3rem;
}
.il_list.list-block.media-list .item-media img {
  width: 5.7rem;
  height: 5rem;
}
.il_list.list-block.media-list .item-inner {
  padding-top: .5rem;
  height: 6rem;
}
.il_list .item-content {
  border-radius: 10px;
  overflow: hidden;
  background: #ffffff;
}
.il_list .item-title {
  font-size: .8rem;
  line-height: 1.1rem;
  color: #333333;
  padding-bottom: .6rem;
}
.il_list .item-title .state1,
.il_list .item-title .state2 {
  display: inline-block;
  font-size: .5rem;
  height: .75rem;
  line-height: .75rem;
  text-align: center;
  vertical-align: middle;
  padding: 0 .1rem;
  margin-top: -0.1rem;
}
.il_list .item-title .state1 {
  color: #f55;
  border: 1px solid #f55;
}
.il_list .item-title .state2 {
  color: #3FC8A3;
  border: 1px solid #3FC8A3;
}
.il_list .item-subtitle .p1 {
  color: #666666;
  font-size: .7rem;
  padding-bottom: .1rem;
}
.il_list .item-subtitle .p1 span {
  color: #a2a2a2;
  line-height: 1rem;
  display: inline-block;
  margin-right: .5rem;
}
.il_list .item-subtitle .p2 {
  padding-bottom: .4rem;
  font-size: .6rem;
  color: #666666;
}
.il_list .item-subtitle .p2 span {
  line-height: .85rem;
  display: inline-block;
}
.il_list .item-subtitle .p2 em {
  display: inline-block;
  margin: 0 .5rem;
  width: .05rem;
  height: .65rem;
  background: #d8d8d8;
  position: relative;
  top: .1rem;
}
.il_list .item-subtitle .p3 {
  color: #333333;
  font-size: .7rem;
  line-height: 1rem;
  height: 1rem;
}
.il_list .item-subtitle .p3 span {
  color: #ffffff;
  font-size: .5rem;
  line-height: .65rem;
  width: .65rem;
  background: #f55;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin-right: .3rem;
  margin-top: -0.2rem;
  height: .65rem;
}
.il_footer {
  text-align: center;
  color: #999999;
  font-size: .6rem;
  line-height: .85rem;
  position: relative;
  margin: 5rem 0rem 2.5rem 0rem;
}
.il_footer:before,
.il_footer:after {
  position: absolute;
  display: table;
  width: 35%;
  height: .05rem;
  background: #d8d8d8;
  content: '';
  bottom: .4rem;
}
.il_footer:before {
  left: 0;
}
.il_footer:after {
  right: 0;
}
.J_search.bar {
  padding: 0;
  height: 2rem;
}
.J_search .searchbar {
  padding: .25rem .75rem;
  margin: 0;
  background: #ffffff;
  height: 2rem;
}
.J_search .search-input {
  border-radius: .75rem;
  overflow: hidden;
  background: #f7f7f7;
  font-size: .7rem;
  line-height: 1rem;
}
.J_search .search-input img {
  position: absolute;
  top: .3rem;
  left: .5rem;
  width: 0.7rem;
}
.J_search .searchbar-cancel {
  font-size: .7rem;
  color: #666666;
}
.J_search.bar-header-secondary ~ .content {
  top: 4.2rem;
}
