body,
.page {
  background: #f7f7f7;
}
.bar.bar-nav {
  background: #ffffff;
  border-bottom-color: #d8d8d8;
}
.title {
  color: #000;
  font-size: .85rem;
}
.list-block ul {
  border: none;
}
.list-block .item-after {
  max-height: none;
}
.list-block .item-content {
  min-height: 2rem;
  line-height: 1;
}
.list-block .item-inner {
  padding-right: 0;
  min-height: 2rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  line-height: 1rem;
  border-bottom-color: #f5f5f5;
}
p {
  margin: 0;
}
ul,
menu,
dir {
  -webkit-padding-start: 0;
}
.J_container {
  background: #ffffff;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-bottom: 0.75rem;
}
.J_container.padding_bottom_0 {
  padding-bottom: 0;
}
.J_container .no_vertical_padding {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}
.J_container_title {
  font-size: .7rem;
  color: #3d3d3d;
  padding-top: .51rem;
}
.J_container_title_more {
  color: #999999;
}
a.item-inner {
  color: #3d3d3d;
}
.icon_img {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: .75rem;
  vertical-align: middle;
}
.icon_arr {
  width: .3rem;
  height: .5rem;
  margin-left: .5rem;
}
.icon_lable {
  width: 3rem;
  height: 1rem;
}
.icon_next {
  width: .36rem;
  height: .6rem;
}
.icon_list {
  width: 1.25rem;
  height: 1.25rem;
}
.J_list {
  margin-top: .75rem;
  margin-bottom: 0;
  font-size: .7rem;
}
.to_copy_btn {
  color: #48CFAD;
  margin-left: 1rem;
}
.item-after_img {
  width: 4.8rem;
  height: 4.8rem;
}
.search-input input {
  background: #eeeeee;
  border-radius: .1rem;
}
.search-input input::-webkit-input-placeholder {
  color: #bcbcbc;
  opacity: 1;
  font-size: .7rem;
}
.search-input .icon {
  color: #bcbcbc;
  font-size: .7rem;
}
.select_box_ul {
  width: 13.8rem;
  background: #ffffff;
  line-height: 2.2rem;
  border-radius: .25rem;
  position: absolute;
  left: 50%;
  top: calc(48.75%);
  transform: translate(calc(-48.75%), -50%);
  overflow: hidden;
}
.select_box_ul label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.2rem;
  line-height: 2.2rem;
  padding: 0 .75rem 0 1.25rem;
  background: #f7f7f7;
  cursor: pointer;
}
.select_box_ul label > div {
  flex: 0 1 auto;
}
.select_box_ul .value_title {
  color: #3d3d3d;
}
.select_box_ul input[type=radio] {
  display: none;
}
.select_box_ul input[type=radio]:checked + label {
  background: #ffffff;
}
.select_box_ul input[type=radio]:checked + label .value_title {
  color: #3d3d3d;
}
.select_box_ul input[type=radio]:checked + label .value_title + .value_img img {
  display: inline-block;
  vertical-align: middle;
}
.select_box_ul img {
  display: none;
  height: .7rem;
}
.bar-tab .tab-item {
  line-height: 0;
  width: 33.3%;
  border: none;
  outline: none;
  background: none;
  float: left;
}
.bar-tab .tab-item .tab_img {
  display: block;
  text-align: center;
}
.bar-tab .tab-item .tab_img img {
  width: 2.1rem;
  height: 1.5rem;
  vertical-align: middle;
}
.bar-tab .tab-item .tab-label {
  display: inline-block;
  font-size: 10px;
  color: #a4a4a4;
  line-height: .7rem;
}
.bar-tab .tab-item.active .tab-label {
  color: #333;
}
.bar-tab {
  background: #ffffff;
}
.bar .button-nav.pull-left {
  width: 6rem;
  text-align: left;
  padding-left: .25rem;
}
.bar .button-nav.pull-left img {
  width: .45rem;
  vertical-align: middle;
  height: .75rem;
}
.cant-click {
  pointer-events: none;
  color: #999999 !important;
}
.J_userOwnData_user_warp {
  font-size: .7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.J_userOwnData_user_warp > div {
  flex: 0 1 auto;
}
.J_userOwnData_user_warp .J_userOwnData_user_avter img {
  border-radius: 50%;
  display: block;
  width: 3rem;
}
.J_userOwnData_user {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.J_list .item-content {
  color: #3d3d3d;
  padding: 0 .75rem;
}
.J_list .item-content .item-after {
  color: #3d3d3d;
  overflow-x: auto;
  text-align: left;
  white-space: nowrap;
  text-align: right;
  max-width: 13rem;
}
.J_list .item-content .item-after img {
  width: .4rem;
  height: .6rem;
  margin-left: .75rem;
  display: inline-block;
  margin-top: .15rem;
}
.J_list:last-child .item-content:nth-child(-n+3) .item-after {
  color: #666666;
}
